.banner{
       background-color:Pink;
       width  :100%;
       height :150%;
       margin-bottom:10px;
}
.banner-text{
text-align:center;
}
.page{
background-image:url(back.jpg);
}
.card-body{
background-image:url(wood.jpg);
}
.container1{
background-image:url(OIP.jpg);
}